{% block navbar %}
    <ul class="nav">
        <li><a href="{{ path('store_frontend_homepage') }}">Home</a></li>
        <li><a href="">Catégories</a></li>
        <li><a href="">Produits</a></li>
        <li><a href="{{ path('store_frontend_contact') }}">Contact</a></li>
        <li><a href="{{ path('store_frontend_concept') }}">Concept</a></li>
        <li><a href="{{ path('store_frontend_mention') }}">Mention Légale</a></li>
    </ul>
{% endblock %}